<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style/css/bootstrap.css">
    <link rel="stylesheet" href="../style/css/main.css">
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-1">
                <div class="gray">

                </div>
            </div>
            <div class="col col-4">
                <div class="gray">

                </div>
            </div>
            <div class="col col-7">
                <div class="gray more">
                    <div class="more-block">
                        <span class="phone">+7 (812) 12321-31</span>
                        <a class="mail">manager@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col col-12">
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col col-2">
            <div class="info">
                <div class="info-top gray-color">
                    <div class="title-block">
                        Создание сайтов
                    </div>
                    <div class="text-block">
                        Изготовление сайтов «под ключ»
                        Как мы работаем
                        Интеграция с 1С
                        Поддержка сайтов
                        Создание сайтов на Битрикс
                        Модули Битрикс
                        Купить Битрикс
                        Дизайн сайтов
                        Редизайн сайтов
                        Интернет-магазины
                        Создание логотипов
                        FAQ
                    </div>
                </div>
                <div class="info-bot gray-color">

                </div>
            </div>
        </div>
        <div class="col col-10">
            <div class="layout light-gray">
                <span>PSD файл с макетом. Макет разбит по слоям и сгрупированн по папкам:</span>
                <br/>
                <br/>
                <ul>
                    <li><span>number</span> - нумерация блоков (номера блоков верстать не нужно)</li>
                    <li><span>text</span> - текстовые блоки (шрифт Arial, размер 14 пикселей, межстрочное растояние 22
                        пикселя)
                    </li>
                    <li><span>head</span> - шапка сайта</li>
                    <li><span>content</span> - контентная область, которая в свою очередь делится на <span>left</span> и
                        <span>center</span></li>
                </ul>
                Текстовое описание задания и требования.
            </div>
            <div class="row">
                <div class="col col-2_5 offset-top-24">
                    <div class="light-gray MyCard">
                        <img src="../img/icon_bag.png" alt="">
                    </div>
                </div>
                <div class="col col-2_5 offset-top-24">
                    <div class="light-gray MyCard">
                        <img src="../img/icon_bag.png" alt="">
                    </div>
                </div>
                <div class="col col-2_5 offset-top-24">
                    <div class="light-gray MyCard">
                        <img src="../img/icon_bag.png" alt="">
                    </div>
                </div>
                <div class="col col-2_5 offset-top-24">
                    <div class="light-gray MyCard">
                        <img src="../img/icon_bag.png" alt="">
                    </div>
                </div>
                <div class="col col-2_5 offset-top-24">
                    <div class="light-gray MyCard">
                        <img src="../img/icon_bag.png" alt="">
                    </div>
                </div>
                <div class="col col-2_5 offset-top-24">
                    <div class="light-gray MyCard">
                        <img src="../img/icon_bag.png" alt="">
                    </div>
                </div>
                <div class="col col-2_5 offset-top-24">
                    <div class="light-gray MyCard">
                        <img src="../img/icon_bag.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-6 offset-top-24">
                    <div class="studio light-gray">
                        <p>
                            Студия разработает полнофункциональный продукт ориентированный на целевую аудиторию и
                            эффективно
                            решающий поставленные перед ним маркетинговые задачи. Опыт работ и использование собственных
                            технологий, позволяет предлагать услугу изготовления сайта в Москве в разумные сроки.
                        </p>
                        <p>
                            Студия разработает полнофункциональный продукт ориентированный на целевую аудиторию и
                            эффективно
                            решающий поставленные перед ним маркетинговые задачи. Опыт работ и использование собственных
                            технологий, позволяет предлагать услугу изготовления сайта в Москве в разумные сроки.
                        </p>
                        <p>
                            Студия разработает полнофункциональный продукт ориентированный на целевую аудиторию.
                        </p>
                    </div>
                </div>
                <div class="col col-6 offset-top-24">
                    <div class="studio light-gray">
                        Поисковое продвижение (раскрутка) ведется по коммерческим запросам, что позволяет многократно
                        увеличить количество продаж с сайта при разумном рекламном бюджете.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col col-12">
            <hr class="hr-second">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col col-4">
            <div class="gray-color height-100">
                <div class="item-list">
                    <ul class="item">
                        <li>Пункт 01</li>
                        <li>Пункт 02</li>
                        <li>Пункт 03</li>
                        <li>Пункт 04</li>
                        <li>Пункт 05</li>
                        <li>Пункт 06</li>
                        <li>Пункт 07</li>
                    </ul>
                    <ul class="item">
                        <li>Пункт 08</li>
                        <li>Пункт 09</li>
                        <li>Пункт 10</li>
                        <li>Пункт 11</li>
                        <li>Пункт 12</li>
                        <li>Пункт 13</li>
                        <li>Пункт 14</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-4">
            <div class="block-11 gray-color height-100">
                <ul type="square">
                    <li>Поисковое продвижение сайтов</li>
                    <li>Тариф «Старт»</li>
                    <li>Тариф «Продвижение Плюс»</li>
                    <li>Тариф «Интернет-магазин»</li>
                    <li>Тариф «Эксклюзив»</li>
                    <li>Тариф «Контекст + SEO»</li>
                    <li>Тариф «Регион»</li>
                </ul>
            </div>
        </div>
        <div class="col col-4 height-100">
            <div class="block-12 gray-color"></div>
            <div class="block-12 gray-color offset-top-24"></div>
        </div>
    </div>
</div>
</body>
</html>